@model IEnumerable<PhapClinicX.Models.User>

@{
    ViewData["Title"] = "Danh sách người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center text-primary mt-4">Danh sách người dùng</h1>

<p class="text-end me-4 mb-3">
    <a asp-action="Create" class="btn btn-success">➕ Thêm Mới</a>
</p>

<table class="table table-bordered table-striped shadow-sm rounded">
    <thead class="table-dark text-center">
        <tr>
            <th>STT</th>
            <th>Họ Tên</th>
            <th>Email</th>
            <th>Ảnh</th>
            <th>Số Điện Thoại</th>
            <th>Địa Chỉ</th>
            <th>Tên Đăng Nhập</th>
            <th>Phân Quyền</th>
            <th>Trạng Thái</th>
            <th>Hành Động</th>
        </tr>
    </thead>
    @{
        int p = 1;
    }
    <tbody class="text-center align-middle">
        @foreach (var item in Model)
        {
            <tr>
                <td>@(p++)</td>
                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>
                    <img src="~/assets/img/team/@item.ProfileImage" alt="Ảnh đại diện" style="width:70px; height: 60px" class="img-thumbnail" />
                </td>
                <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                <td>@Html.DisplayFor(modelItem => item.Address)</td>
                <td>@Html.DisplayFor(modelItem => item.Username)</td>
                <td>
                    @(item.Role != null ? item.Role.RoleName : "— Không có quyền —")
                </td>
                <td>
                    @(item.IsActive ? "✅ Hoạt động" : "❌ Khoá")
            </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.UserId" class="btn btn-sm btn-primary">Sửa</a>
                    <a asp-action="Details" asp-route-id="@item.UserId" class="btn btn-sm btn-info text-white">Chi tiết</a>
                    <a asp-action="Delete" asp-route-id="@item.UserId" class="btn btn-sm btn-danger">Xoá</a>
                </td>
            </tr>
        }
    </tbody>
</table>
