@model PhapClinicX.Models.Product
@{
    List<Product> RelatedProducts = ViewBag.RelatedProducts;
    List<ProductCategory> Category = ViewBag.Category;
    List<ProductComment> ProductComments = ViewBag.ProductComments;
}
<style>

    /* Khu vực chi tiết sản phẩm */
    .product-detail-section {
        margin-top: 50px;
    }

    .product-detail-content {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        flex-wrap: wrap; /* Đảm bảo các phần sẽ xuống dòng nếu không đủ không gian */
    }

    /* Hình ảnh sản phẩm */
    .product-image-gallery {
        flex: 1;
        margin-right: 20px;
    }

        .product-image-gallery .main-image img {
            width: 100%;
            border-radius: 10px;
        }

    .image-thumbnails {
        display: flex;
        margin-top: 10px;
    }

        .image-thumbnails img {
            width: 80px;
            height: 80px;
            margin-right: 10px;
            border-radius: 5px;
            cursor: pointer;
            transition: transform 0.3s;
        }

            .image-thumbnails img:hover {
                transform: scale(1.05);
            }

    /* Thông tin sản phẩm */
    .product-info {
        flex: 1;
        margin-top: 20px;
    }

    .product-title {
        font-size: 28px;
        font-weight: bold;
        color: #333;
        margin-bottom: 10px;
    }

    .price-section {
        margin-bottom: 20px;
    }

    .new-price {
        color: red;
        font-size: 24px;
        font-weight: bold;
    }

    .old-price {
        text-decoration: line-through;
        color: #aaa;
        font-size: 18px;
        margin-left: 10px;
    }

    /* Đánh giá và nhận xét */
    .rating-review {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .rating {
        color: gold;
        margin-right: 10px;
    }

        .rating i {
            margin-right: 3px;
        }

    /* Mô tả sản phẩm */
    .description {
        margin-bottom: 20px;
        line-height: 1.6;
    }

    /* Chọn số lượng và nút thêm vào giỏ */
    .quantity-cart {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

        .quantity-cart label {
            margin-right: 10px;
        }

        .quantity-cart input {
            width: 60px;
            padding: 5px;
            text-align: center;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-right: 20px;
        }

    .add-to-cart {
        background-color: #28a745;
        color: #fff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

        .add-to-cart:hover {
            background-color: #218838;
        }

    /* Danh mục và thẻ sản phẩm */
    .product-category,
    .product-tags {
        margin-bottom: 15px;
    }

        .product-category span,
        .product-tags span {
            font-weight: bold;
        }

        .product-category a,
        .product-tags a {
            color: #007bff;
            text-decoration: none;
            margin-right: 5px;
            transition: color 0.3s;
        }

            .product-category a:hover,
            .product-tags a:hover {
                color: #0056b3;
            }

    /* Chia sẻ trên mạng xã hội */
    .social-share {
        display: flex;
        align-items: center;
    }

        .social-share span {
            margin-right: 10px;
            font-weight: bold;
        }

        .social-share a {
            color: #333;
            margin-right: 10px;
            font-size: 20px;
            transition: color 0.3s;
        }

            .social-share a:hover {
                color: #007bff;
            }


    
</style>
<!-- Chi tiết món ăn -->
<div class="product-detail-section">
    <div class="container">
        <div class="product-detail-content">
            <div class="product-image-gallery">
                <!-- Hình ảnh chính của món ăn -->
                <div style="position:relative" class="main-image">
                    <img src="~/assets/img/product/@Model.Image" style="height:400px" alt="Hình Ảnh Món Ăn">
                    <div style="position: absolute; top:-10px; left:-20px">
                        <img style="width: 100px; height:auto" src="~/assets/img/logo/phaplife.png" alt="Alternate Text" />
                    </div>
                </div>
                <!-- Thumbnail ảnh món ăn -->
                <div class="image-thumbnails">
                    @foreach (var p in RelatedProducts)
                    {
                        <img src="~/assets/img/product/@p.Image" alt="Hình Ảnh Món Ăn">
                    }
                </div>
            </div>
            @* ViewBag.MenuCategories chứa một danh sách các danh mục menu (List<TbMenuCategory> *@
            @*     ) mà controller đã truyền đến view. *@
            @*     Dữ liệu từ ViewBag được ép kiểu (cast) về đúng kiểu dữ liệu List<TbMenuCategory> *@   
            <div class="product-info">
                <!-- Tên món ăn -->
                <h2 style="font-family:'Playball', cursive !important" class="product-title">@Model.ProductName</h2>

                <!-- Giá món ăn -->
                <div class="price-section">
                    <span class="new-price">@string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", Model.PriceSale)</span>
                    <span class="old-price">@string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", Model.Price)</span>
                </div>

                <!-- Đánh giá món ăn -->
                <div class="rating-review">
                    <div class="rating">
                        @for (var i = 0; i < Model.Star; i++)
                        {
                            <i class="fas fa-star"></i>

                        }

                    </div>
                    <span>(@ProductComments.Count() đánh giá của khách hàng)</span>
                </div>

                <!-- Mô tả món ăn -->
                <div class="description">
                    <p>
                        @Model.Description
                    </p>
                </div>

                <!-- Chọn số lượng và nút mua hàng -->
                <div class="quantity-cart">
                    <label for="quantity">Số lượng:</label>
                    <input type="number" id="quantity" value="1" min="1" max="@Model.ProductImport">
                    <button class="add-to-cart">Thêm vào giỏ hàng</button>
                </div>


                <!-- Danh mục món ăn -->
                @foreach (var p in Category)
                {
                   
                    <div class="product-category">
                        <span>Danh Mục: </span>
                        <a href="#">@p.CategoryName</a>
                    </div>

                }


                <!-- Thẻ sản phẩm -->
                <div class="product-tags">
                    <span>Thẻ: </span>
                    <a href="#">Đồ Ăn</a>, <a href="#">Ẩm Thực</a>, <a href="#">Món chính</a>
                </div>

                <!-- Chia sẻ trên mạng xã hội -->
                <div class="social-share">
                    <span>Chia sẻ: </span>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.Raw(Model.Detail)
</div>

<div style="max-width: 900px; margin: auto; padding: 20px; text-align: center; font-family: Arial, sans-serif;">
    <h2 style="margin-bottom: 20px; font-size: 24px; font-weight: bold;">Khách Hàng Đánh Giá</h2>
    <div style="display: flex; overflow-x: auto; scroll-snap-type: x mandatory; gap: 20px; padding-bottom: 10px;">
        <!-- Một review -->
        @foreach (var p in ProductComments)
        {
            <div style="min-width: calc(33.33% - 20px); max-width: calc(33.33% - 20px); scroll-snap-align: center; background: #f9f9f9; border: 1px solid #ddd; border-radius: 10px; padding: 15px; flex-shrink: 0; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); text-align: center;">
                <div>
                    <img src="~/assets/img/team/@p.User?.ProfileImage" alt="Reviewer Avatar"
                         style="width: 80px; height: 80px; object-fit: cover; border-radius: 50%; display: block; margin: auto; margin-bottom: 10px;">
                  
                    <h4 style="margin-bottom: 10px; font-size: 18px; font-weight: bold;">@p.User?.FullName</h4>
                </div>
                <div>
                    <span style="display: block; color: #007bff; margin-bottom: 10px;">@p.CreatedAt</span>
                    <div style="margin-bottom: 10px;">
                        @for (var i = 0; i < p.Star; i++)
                        {
                            <i class="fas fa-star" style="color: #ffc107; font-size: 16px;"></i>
                        }
                    </div>
                    <p style="color: #dc3545; font-size: 14px;">@p.Comment</p>
                </div>
            </div>
        }
    </div>


</div>
@using System.Globalization
@{
    var culture = new CultureInfo("vi-VN");
}
<div style="border-radius:20px; padding:50px; background-color:#ededed" class="container mt-4">
    <h2 class="mb-3 text-center text-uppercase fw-bold text-danger">
        <i class="fas fa-fire"></i> Hotdeal Tháng 8 <i class="fas fa-fire"></i>
    </h2>
    <div class="row g-4">
        <div class="row row-cols-1 row-cols-md-5 g-4">
            @foreach (var p in RelatedProducts)
            {
                string url = $"/san-pham/{p.Alias}-{p.ProductId}.html";
                <div class="col">
                    <div class="card h-100 shadow-sm border-0 rounded-3 product-card">
                        <img src="~/assets/img/product/@p.Image" class="card-img-top"
                             style="width: 100%; height: 200px; object-fit: cover; border-radius: 10px 10px 0 0;"
                             alt="@p.ProductName">
                        <div class="card-body text-center">
                            <a href="@url"> <h5 class="card-title">@p.ProductName</h5></a>

                            <p class="small text-success warranty-text">
                                <i class="fas fa-shield-alt"></i> Bảo hành: <strong>@p.Warranty</strong> tháng
                            </p>

                            <!-- Hiển thị số lượng đã bán -->
                            <p class="small text-secondary">
                                <i class="fas fa-shopping-bag"></i> Đã bán: <strong>@p.ProductSold</strong> sản phẩm
                            </p>

                            @if (p.PriceSale.HasValue && p.PriceSale.Value < p.Price)
                            {
                                <div class="position-absolute top-0 start-0 bg-danger text-white px-3 py-1 rounded-end">
                                    <i class="fas fa-tags"></i> Giảm @(Math.Round((1 - (p.PriceSale.Value / p.Price)) * 100))%
                                </div>
                                <div style="position: absolute; top:-10px; right:-15px">
                                    <img style="width: 70px; height:auto" src="~/assets/img/logo/phaplife.png" alt="Alternate Text" />
                                </div>
                            }

                            <p class="text-danger fw-bold">
                                <i class="fas fa-dollar-sign"></i> @p.Price.ToString("N0", culture)đ
                                @if (p.PriceSale.HasValue && p.PriceSale.Value < p.Price)
                                {
                                    <small class="text-decoration-line-through text-muted">
                                        @p.PriceSale.Value.ToString("N0", culture)đ
                                    </small>
                                }
                            </p>

                            <button class="btn btn-danger w-100 fw-bold mt-auto">
                                <i class="fas fa-cart-plus"></i> Thêm vào giỏ
                            </button>
                        </div>
                    </div>
                </div>


            }
        </div>
    </div>
</div>



<style>
    .product-card {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .card-body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-title {
        min-height: 50px; /* Cố định chiều cao tiêu đề */
    }

    .product-desc {
        min-height: 40px; /* Đảm bảo mô tả không quá ngắn hoặc dài */
    }

    .warranty-text {
        min-height: 30px; /* Cố định chiều cao dòng bảo hành */
    }
</style>
